@model Nexeron.Models.ArticuloModel
@{
    ViewBag.Title = (Model.codigo == 0 ? "Nuevo" : "Editar") + " Artículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>@ViewBag.Title</h2>
    <hr />

    @using (Html.BeginForm("Guardar", "Referencias", FormMethod.Post, new { id = "frmArticulo" }))
    {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Código</label>
                    @Html.TextBoxFor(m => m.codigo, new { @class = "form-control", type = "number", id = "codigo", onblur = "comprobarCodigo()" })
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Nombre del Artículo</label>
                    @Html.TextBoxFor(m => m.articulo, new { @class = "form-control", id = "articulo" })
                    @Html.ValidationMessageFor(m => m.articulo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descripción</label>
                    @Html.TextAreaFor(m => m.descripcion, new { @class = "form-control", id = "descripcion", rows = "2" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Longitud</label>
                    @Html.TextBoxFor(m => m.longitud, new { @class = "form-control calc-volumen", id = "longitud", type = "number", step = "any", @Value = Model.longitud.ToString(System.Globalization.CultureInfo.InvariantCulture) })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Altura</label>
                    @Html.TextBoxFor(m => m.altura, new { @class = "form-control calc-volumen", id = "altura", type = "number", step = "any", @Value = Model.altura.ToString(System.Globalization.CultureInfo.InvariantCulture) })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Anchura</label>
                    @Html.TextBoxFor(m => m.anchura, new { @class = "form-control calc-volumen", id = "anchura", type = "number", step = "any", @Value = Model.anchura.ToString(System.Globalization.CultureInfo.InvariantCulture) })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Volumen Calculado</label>
                    <input type="text" id="volumenCalculado" class="form-control" value="@Model.volumen.ToString(System.Globalization.CultureInfo.InvariantCulture)" readonly />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo</label>
                    @Html.DropDownListFor(m => m.tipo, Model.TiposList, new { @class = "form-control", id = "tipo" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Unidad Medida</label>
                    @Html.DropDownListFor(m => m.unidad_medida, Model.UnidadesList, new { @class = "form-control", id = "unidad_medida" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>País Origen</label>
                    @Html.DropDownListFor(m => m.pais_origen, Model.PaisesList, new { @class = "form-control", id = "pais_origen" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>IVA (%)</label>
                    @Html.TextBoxFor(m => m.iva, new { @class = "form-control", id = "iva", type = "number", step = "any", @Value = Model.iva.ToString(System.Globalization.CultureInfo.InvariantCulture) })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Dto Base (%)</label>
                    @Html.TextBoxFor(m => m.dto_base, new { @class = "form-control", id = "dto_base", type = "number", step = "any", @Value = Model.dto_base.ToString(System.Globalization.CultureInfo.InvariantCulture) })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Huella de Carbono</label>
                    @Html.TextBoxFor(m => m.huella_carbono, new { @class = "form-control", id = "huella_carbono", type = "number", step = "any", @Value = Model.huella_carbono.ToString(System.Globalization.CultureInfo.InvariantCulture) })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-top: 25px;">
                    <label>
                        @Html.CheckBoxFor(m => m.es_reutilizable, new { id = "es_reutilizable" }) Es Reutilizable
                    </label>
                    &nbsp;&nbsp;&nbsp;
                    <label>
                        @Html.CheckBoxFor(m => m.activo, new { id = "activo" }) Activo
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Alta</label>
                    @Html.TextBoxFor(m => m.fecha_alta, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "fecha_alta" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Baja</label>
                    @Html.TextBoxFor(m => m.fecha_baja, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "fecha_baja" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Observaciones</label>
                    @Html.TextAreaFor(m => m.observaciones, new { @class = "form-control", id = "observaciones", rows = "3" })
                </div>
            </div>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
            </button>
            <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('.calc-volumen').on('input', calcularVolumen);
    });

    function calcularVolumen() {
        var l = parseFloat($('#longitud').val()) || 0;
        var a = parseFloat($('#altura').val()) || 0;
        var an = parseFloat($('#anchura').val()) || 0;
        $('#volumenCalculado').val((l * a * an).toFixed(4));
    }

    function comprobarCodigo() {
        var cod = $('#codigo').val();
        if (cod && cod > 0) {
            $.ajax({
                url: '@Url.Action("ObtenerArticuloPorCodigo", "Referencias")',
                type: 'GET',
                data: { codigo: cod },
                success: function (data) {
                    if (data) {
                        $('#articulo').val(data.articulo);
                        $('#descripcion').val(data.descripcion);
                        $('#longitud').val(data.longitud);
                        $('#altura').val(data.altura);
                        $('#anchura').val(data.anchura);
                        $('#tipo').val(data.tipo);
                        $('#unidad_medida').val(data.unidad_medida);
                        $('#pais_origen').val(data.pais_origen);
                        $('#iva').val(data.iva);
                        $('#dto_base').val(data.dto_base);
                        $('#huella_carbono').val(data.huella_carbono);
                        $('#es_reutilizable').prop('checked', data.es_reutilizable);
                        $('#activo').prop('checked', data.activo);
                        $('#observaciones').val(data.observaciones);

                        if (data.fecha_alta) $('#fecha_alta').val(formatearFechaJson(data.fecha_alta));
                        if (data.fecha_baja) $('#fecha_baja').val(formatearFechaJson(data.fecha_baja));

                        calcularVolumen();
                    }
                },
                error: function () {
                    console.log("Error al consultar el código.");
                }
            });
        }
    }

    function formatearFechaJson(fechaJson) {
        if (!fechaJson) return "";
        if (fechaJson.indexOf('/Date(') !== -1) {
            var ms = parseInt(fechaJson.replace('/Date(', '').replace(')/', ''));
            var d = new Date(ms);
            return d.toISOString().split('T')[0];
        }
        return fechaJson.split('T')[0];
    }
</script>